/* utility classes to complement bootstrap functionality */
.color-bg-wheat {
  background-color: wheat;
}

/* customizing the layout */
body {
  height: 100vh;
}
.box-ctn {
  background-color: black;

  perspective: 1000px;
}
#box {
  height: 50%;
  width: 50%;
  background-color: wheat;
  color: black;
  border-radius: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
